body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #2980b9;
}